<%- include("partials/header") %>

<div class="ui container segment main text" id="cont">
  <div class="ui header huge">Edit <%=blog.title%></div>
  <form class="ui form" action="/blog/<%=blog.id%>?_method=PUT" method="post">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" placeholder="Title" value="<%=blog.title%>" required >
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" placeholder="Image Url" value="<%=blog.image%>" required>
    </div>
    <div class="field">
      <label>Blog Content</label>
      <textarea name="blog[body]" required><%=blog.body%></textarea>
    </div>
    <button class="ui blue big basic button">Submit</button>
  </form>
</div>
